html,body {
	height:100%;
	background-color: #fff;
	font-family: 'Titillium Web', sans-serif; 
}

.Float_Tc_{
	margin: 3% 0 0 8%; 
	height: 80%; 
	position: fixed; 
	z-index:0; 
}

.senior-filter{
	filter: brightness(0.4) opacity(0.1);
}

.junior-filter{
	filter: brightness(0.4) opacity(0.1);
}

.VisibleLayer{
	position: relative;
}

h1{
	font-size: calc(1.5em + 3.5vw)
}

h2{
	font-size: 3.5vw;
}

h3{
	font-size: 2.2vw
}

h4{
	font-size: calc(0.5vw + 1em);
}

h5{
	font-size: 2.3vw;
}

.color{
	--color-logo-white: #fff;
	--color-logo-red: #ff1322;
	--color-red-dark: #c5000c;
	--color-logo-green: #046b5b;
	--color-logo-turquoise: #317287;
	--color-light-turquoise: #08d9cf;
	--color-logo-orange: #ff7c00 ;
	--color-orange: #ffc165;
	--color-grey: #5f5f5f;
	--color-grey-100: #7e7e7e;
	--color-grey-200: #afafaf;
	--color-light-grey: #bebebe;
}

.bc-white{
	background-color: var(--color-logo-white);
}

.bc-red-dark{
	background-color: var(--color-red-dark);
}

.bc-red{
	background-color: var(--color-logo-red);
}

.bc-green{
	background-color: var(--color-logo-green);
}

.bc-light-orange{
	background-color: var(--color-orange);
}

.bc-orange{
	background-color: var(--color-logo-orange);
}

.bc-grey{
	background-color: #545454;
}

.bc-grey-100{
	background-color: var(--color-grey-100);
}

.bc-grey-200{
	background-color: var(--color-grey-200);
}

.bc-turquoise{
	background-color: var(--color-logo-turquoise);
}

.bc-light-grey{
	background-color: var(--color-light-grey);
}

.color-white{
	color: var(--color-logo-white)
}

.color-light-grey{
	color: var(--color-light-grey);
}

.color-orange{
	color: var(--color-logo-orange);
}

.color-light-orange{
	color: var(--color-orange);
}

.color-grey{
	color: var(--color-grey);
}

.color-grey-100{
	color: var(--color-grey-100);
}

.color-red{
	color: var(--color-logo-red);
}

.color-green{
	color: var(--color-logo-green);
}

.color-turquoise{
	color: var(--color-logo-turquoise);
}

.color-light-turquoise{
	color: var(--color-light-turquoise);
}

.weight-200{
	font-weight: 200;
}

.weight-600{
	font-weight: 600;
}

.inline-xs{
	line-height: 0.4;
}

.inline-md{
	line-height: 0.9;
}

/* elements */

.logo{
	position: absolute;
    width: 13%;
}

.imgHeader{
	width: 100%;
}

.decorate-menu{
	height: 15px;
    border-radius: 3px;
	width: 22%;
	padding: 0;
}

.tittle {
	width: 30%;
}

.decorate-tittle{
	height: 11px;
}

.decorate-xs{
	margin-top: 1.5%;
	width: 10%;
}

.decorate-lg{
	width: 60%;
	margin-top: 5%;
}

#ContactUs .decorate-lg{
	margin-top: 2%!important;
}

.flag-home-mobile{
	display: none;
	width: 50%; 
	position:absolute;
	top: 2%;
	right: 5%;
	text-align: right;
}

.flag-mobile{
	display: none;
	width: 50%; 
	position:absolute; 
	margin-top: 2%; 
	z-index:2
}

.flag-desktop{
	position:absolute;
	width: 30px;
	height: 30px;
	z-index: 2;
}

.a-flag-desktop{
	position:absolute;
	top: 7.7%;
	right: 4%;
}

.underscore{
	color: #a3a3a3;
	font-weight: 100;
}

.learn-more{
	margin:7% 10% 10% 10%;
	text-align: right;
	font-size: calc(0.5em + 0.8vw);
}

.learn-more .down-angle{
	padding-top: 4px;
	margin-left: 10px;
	float: right;
}

/* components */

.section-one{
	overflow: hidden;
	height: 100vh;
}

.section-one > .col-lg-6{
	margin: 2% 0 0 7%;
}

.Header-organization{
	margin-left: 35%;
	width: 57%;
	margin-top: 5%;
    justify-content: space-around;
    text-align: right;
}

.header-organization-leyend{
	margin-top: 2%;
	display: flex;
	justify-content:right;
	padding-right: 1%;
}

.Header-organization > h3{
	margin: -12% 0 4% 0;
    padding: 0 1% 0 0;
}

.Rotary-legend{
	text-align: center;
	margin-top: 6%;
    min-height: 25vh;
    width: 95%;
}

.Rotary-legend h2{
	color:#5f5f5f;
	font-weight: 600;
	line-height: 1;
	font-style: italic;
	font-size: 2.5vw;
}

.Central-legend{
    text-align: right;
}

.Central-legend > h1{
	font-size: calc(0.7em + 5.2vw); 
	line-height: 0.5;
	font-weight: bold;
	margin-left: -10%;
}

.Central-legend > h2{
	font-size: calc(0.5em + 4.2vw); 
	font-weight: bold;
	margin-left: -10%;

}

.Central-legend-organization{
    text-align: right;
}

.Central-legend-organization > h1{
	font-size: calc(0.7em + 5.2vw); 
	line-height: 0.5;
	font-weight: bold;
	margin-left: -10%;
}

.Central-legend-organization > h2{
	font-size: calc(0.5em + 4.2vw); 
	font-weight: bold;
	margin-left: -10%;
}

.Descriptive-legend-organization-es{
    margin: 6% 0 0 -8%;
}

.Descriptive-legend-organization-es > h5{
	font-size: 1.8vw;
	line-height: 0.9;
}

.Descriptive-legend-organization-en{
    margin: 6% 0 0 20%;
}

.Descriptive-legend-organization-en > h5{
	font-size: 1.8vw;
	line-height: 0.9;
}

.Descriptive-legend-senior-es{
	justify-content: right;
    margin-top: 6%;
}

.Descriptive-legend-senior-es > h5,
.Descriptive-legend-senior-en > h5{
	font-size: 2vw;
	line-height: 0.8;
}

.Descriptive-legend-senior-en{
	justify-content: right;
    margin: 8% 0 0 3%;
}

.Descriptive-legend-junior-es{
	justify-content: right;
    margin: 6% 0 0 1vw;
}

.Descriptive-legend-junior-es > h5{
	font-size: 2vw;
	line-height: 0.8;
}

.Descriptive-legend-junior-en{
	justify-content: right;
    margin: 6% 0 0 10%;
}

.What_is_Tc_tittle{
	margin-left: -5%;
    font-size: calc(2.5em + 1.2vw);
}

.arrow-left{
	height: 40%;
	margin-top: -5%;
}

.back_Tc_vertical{
	width: 56%;
    margin: -15% 0 0 14%;
}

.numbers{
	font-size: 6vw;
	line-height: 0.9;
	font-weight: 200;
}

.hidden_tc_vertical{
	margin-top: -10%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0% 0%, 100% 8vw, 100% 100%, 0% 100%);
    padding: 0;
}

/* responsive  */

@media only screen and (max-width: 991px) {
	
	.logo-home{
		width: 60%!important; 
		margin: 5% 0 0 5%; 
		filter: brightness(0.9);
	}
	.burguer-menu{
		width: 70%!important;
		margin-top: 3%!important;
	}
	.flag-home-mobile{
		display: inline !important;
	}
	.logo{
		z-index: 2;
		position: absolute;
		margin: 3% 0 0 3%;
		width: 30vw;
	}
	.section-one{
		overflow: hidden;
		height: auto;
	}
	.section-one > .col-sm-12{
		margin: 2% 2.5% 0 2.5%;
		width: 95%;
		padding:0;
	}
	.flag-mobile{
		display: inline !important;
		margin: 20% 0 0 2%;
	}
	.flag-mobile > img,
	.flag-home-mobile > img{
		width: 18%;
	}
	.flag-desktop{
		display: none!important;
	}
	.Header-organization{
		display: none;
	}
	.Rotary-legend{
		min-height: 17vh!important;
		text-align: center!important;
		margin: 3% 0 0 0!important;
	}
	.Rotary-legend h2{
		font-size: calc(1em + 2.6vw);
		font-weight: 600;
	}
	.Central-legend,
	.Central-legend-organization{
		text-align: center;
		margin: 3% 0 3% 0!important;
	}
	.Central-legend > h1{
		margin: 0!important;
		font-size: calc(1.1em + 5.2vw)
	}
	.Central-legend > h2{
		margin: 0!important;
		font-size: calc(0.9em + 4.2vw)
	}

	.Central-legend-organization > h1{
		margin: 0!important;
		font-size: calc(1.3em + 5.2vw)
	}
	.Central-legend-organization > h2{
		margin: 0!important;
		font-size: calc(1em + 5.2vw)
	}

	.Descriptive-legend-es,
	.Descriptive-legend-senior-es,
	.Descriptive-legend-senior-en,
	.Descriptive-legend-organization-es,
	.Descriptive-legend-organization-en,
	.Descriptive-legend-junior-es,
	.Descriptive-legend-junior-en{
		text-align: center;
		margin: 0% 2.5% 3% 2.5%!important;
		width: 95%;
	}
	.Descriptive-legend-en{
		text-align: center;
		margin: 0% 2.5% 5% 2.5%;
		width: 95%;
	}
	.Descriptive-legend-en > h5,
	.Descriptive-legend-es > h5,
	.Descriptive-legend-organization-es > h5,
	.Descriptive-legend-organization-en > h5,
	.Descriptive-legend-senior-es >h5,
	.Descriptive-legend-senior-en > h5,
	.Descriptive-legend-junior-es > h5{
		font-size: calc(0.4em + 2.8vw)!important;
		line-height: 0.8;
		display: inline!important;
	}
	.learn-more{
		font-size: calc(0.4em + 3.3vw)!important;
		margin: 5% 5% 5% 0
	}
}

@media only screen and (max-width: 500px) {
	.logo{
		z-index: 2;
		position: absolute;
		margin: 1% 0 0 3%;
		width: 32vw;
	}
	.logo-home{
		width: 60%!important; 
		margin: 5% 0 0 5%; 
		filter: brightness(0.9);
	}

	.flag-mobile{
		display: inline !important;
		margin: 20% 0 0 2%;
	}
	.flag-mobile > img,
	.flag-home-mobile > img{
		width: 14%;
	}
	.burguer-menu{
		width: 70%!important;
		margin-top: 3%!important;
	}
	
	.What_is_Tc_tittle{
		margin-left: -2%;
		font-size: calc(1.8em + 1vw) !important;
	}	
	.What_is_Tc_text{
		text-align: left !important;
    	margin-top: 8% !important;
	}
	.What_is_Tc_text h5{
		font-size: calc(1em + 1.3vw) !important;
		font-weight: 600;
		line-height: 1.5;
	}
	.bc_tc_grey{
		height: 420px!important;
	}
	#ourAnswer{
		margin-top: -1%;
	}
	#ourAnswer h2{
		font-size: calc(1.8em + 1vw) !important
	}
	#ourAnswer h5{
		font-size: calc(1em + 1.3vw) !important;
	}
	#ourAnswer .decorate-lg{
		width: 19% !important;
	}
	#ourAnswer .tittle{
		width: 74% !important;
	}

	#HowWeDo h2{
		font-size: calc(2em + 1.2vw) !important;
	}
	#HowWeDo h5{
		font-size: calc(1em + 1.3vw) !important;
	}
	#HowWeDo h3{
		font-size: calc(1.2em + 1.5vw) !important;
	}
	#HowWeDo p{
		font-size: calc(1em + 0.5vw) !important;
	}
	.numbers{
		font-size: calc(3em + 1vw) !important;
	}
	.arrowOrange{
		margin: 10px!important;
		width: 20px!important;
	}
	.decorate-menu{
		width: 70px!important;
		height: 11px!important;
	}
	.tittle{
		width: 70%;
		padding: 2%;
	}
	.decorate-xs{
		width: 5%;
		margin-top: 5%;
		height: 8px;
	}
	.decorate-lg{
		width: 22%;
		margin-top: 15%;
		height: 8px;

	}
	#ContactUs h2{
		font-size: calc(2em + 1.3vw) !important;
	}
	#ContactUs .decorate-lg{
		margin-top: 5%!important;
	}
	.bc_tc_grey{
		height: 280px!important;
	}
	.Float_Tc_{
		width: 90%;
		margin: 0;
		height: auto;
	}
	.hidden_tc_vertical{
		height: 90px;	
	}
}

.navigate-home{
	cursor: pointer;
}

a,
a:link, a:visited, a:active {
    text-decoration:none;
	cursor: pointer;
	font-size: calc(1em + 0.2vw);
	font-weight: 600;
}

.hover-red:hover{
	color: var(--color-logo-red)!important;
}

.hover-turquoise:hover{
	color: var(--color-logo-turquoise)!important;
}

.hover-green:hover{
	color: var(--color-logo-green)!important;
}

.hover-orange:hover{
	color: var(--color-logo-orange)!important;
}

.hover-bc-red:hover{
	cursor: pointer;
	background-color: var(--color-logo-red)!important;
}

.hover-bc-green:hover{
	cursor: pointer;
	background-color: var(--color-logo-green)!important;
}

.hover-bc-orange:hover{
	cursor: pointer;
	background-color: var(--color-logo-orange)!important;
}

.hover-bc-turquoise:hover{
	cursor: pointer;
	background-color: var(--color-logo-turquoise)!important;
}


a:hover{
	font-weight: bold;
}

.learn-more:hover{
	color: var(--color-logo-red)
}

.bc_tc_grey{
	height: 650px;
}

.arrowOrange{
	margin: 70% 0 0 30%;
	width: 80%;
	color: var(--color-logo-orange);
}

input, textarea{
	border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(128, 128, 128, 0.507);
    width: 100%;
	outline: none;
}

input:focus, textarea:focus{
    border-bottom: 2px solid red;
}

@media only screen and (max-width: 1300px) and (min-width: 992px),
			screen and (max-width: 560px) {
	textarea{
		height: 55px;
	}
}

.btn-tc{
	font-size: 1.1em;
	color: #fff;
	outline: none;
    width: 150px;
    height: 50px;
    border: none;
	background: rgb(0, 0, 0);
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 56%);
	border-radius: 3px;
}

.btn-green{
	background: linear-gradient( 90deg, #446e5c, #317287);
	box-shadow: 0px 2px 10px 1px #317287;
}

.btn-red{
	background: linear-gradient( 90deg, #ff1322cc, #efa31ed4);
	box-shadow: 0px 2px 10px 1px rgba(255, 0, 0, 0.438);
}

.btn-tc:hover{
	box-shadow: 0px 5px 15px 1px rgb(0 0 0 / 56%);
}

.btn-tc:focus{
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 56%);
}

.btn-red:hover{
    box-shadow: 0px 5px 10px 1px rgba(255, 0, 0, 0.438);
}

.btn-red:focus{
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 56%);
}

/* hide and Show pages  */

#organization{
	display: none;
}

#home{
	display: none;
}

#senior{
	display: none;
}

#junior{
	display: none;
}

#team{
	display: none;
}

/* home */

#welcome{
	padding-right: 6%;
    font-size: calc(1.3rem + 1.3vw);
}

.back_home{
	object-fit: cover;
	filter:opacity(0.1);
}
.logo-home{
	width: 35%;
    margin: -45% 0 0 0%;
    filter: brightness(0.9);
}

.burguer-menu{
	outline: none;
	border: none;
	border-radius: 15px;
	height: 50px;
	width: 50%;
	margin-top: 2%;
}

.enter-item{
	display: none;
	width: 100%;
	position: relative
}
.enter-item > h1{
	font-weight: 600;
	position: relative;
	z-index: 0;
	margin-bottom: -2.5%;
}

.enter-item-description{
	background-color: white;
	z-index: 1;
	position: relative;
	border-top: 2px solid rgb(224, 224, 224);
}

.organization-enter{
	background-color: var(--color-logo-red);
	color: #fff;
	font-weight: bold;
	font-size: calc(1em + 0.5vw);
}

.senior-enter{
	background-color: var(--color-logo-green);
	color: #fff;
	font-weight: bold;
	font-size: calc(1em + 0.5vw);
}

.junior-enter{
	background-color: var(--color-logo-orange);
	color: #fff;
	font-weight: bold;
	font-size: calc(1em + 0.5vw);
}

.team-enter{
	background-color: var(--color-logo-turquoise);
	color: #fff;
	font-weight: bold;
	font-size: calc(1em + 0.5vw);
}

/* button effect */

._effect {
	font-weight: bold;
	animation: hide-show infinite .8s;
	color: #d3031c;
}
@keyframes hide-show {
	0% { opacity: 0; }
	49% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 1; }
}


/* scrollbar styled */

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background:#ffffff;
} 

.organization-scrollbar::-webkit-scrollbar-thumb {
	background-color: #ff1322;
}
  
.organization-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #be0a16;
}

.senior-scrollbar::-webkit-scrollbar-thumb {
	background-color: #046b5b;
}
  
.senior-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgb(44, 194, 6);
}
  
.junior-scrollbar::-webkit-scrollbar-thumb {
	background-color: #ff7c00;
}
  
.junior-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #fc993c;
}

.team-scrollbar::-webkit-scrollbar-thumb {
	background-color: #317287;
}
  
.team-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #317287;
}


/* .scroll-prompt {
	position: fixed;
}
.scroll-prompt-arrow-container {
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.scroll-prompt-arrow {
	animation-name: opacity;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.scroll-prompt-arrow:last-child {
	animation-direction: reverse;
	margin-top: -6px;
}
.scroll-prompt-arrow > div {
	border-radius: 3px;
	width: 70px;
	height: 70px;
	border-right: 16px solid #484848b8;
	border-bottom: 16px solid #484848b8;
	transform: rotate(318deg) translateY(1px);
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {

		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateX(0);
	}

	10% {
		transform: translateX(3px);
	}

	20% {
		transform: translateX(6px);
	}

	30% {
		transform: translateX(9px);
	}

	40% {
		transform: translateX(12px);
	}

	50% {
		transform: translateX(15px);
	}

	60% {
		transform: translateX(18px);
	}

	70% {
		transform: translateX(21px);
	}

	80% {
		transform: translateX(24px);
	}

	90% {
		transform: translateX(27px);
	}

	100% {
		transform: translateX(30px);
	}
} */
