html, body {
	height: 100%;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

:root {
	--container-padding: 0 7em;
	--navbar-height: 80px;
}

/* style elements */

.themeColor{
	--color-white: #ffffff;
	--color-dark: #000000;
	--color-logo-orange: #F34E1E;
	--color-logo-purple: #551872;
	--color-gray: #414141;
	--color-gray-100: #656565;
	--color-gray-200: #b9b9b9;
	--color-light-gray: #878787;
}

h1{
	font-size: calc(5.5vw + 1em);
	margin-bottom: 0;
	line-height: 0.8em;
}

h2{
	font-size:calc(3vw + 0.5em);
	margin-bottom: 0;
	line-height: 0.8em;
}

h3{
	font-size: calc(3.75em);
	margin-bottom: 0;
	line-height: 1em;
}

h4{
	font-size: calc(2vw + 0.8em);
	margin-bottom: 0;
	line-height: 1em;
	font-weight: 200;
}

h4.down{
	font-size: calc(1.5vw + 0.5em);
}

h5{
	font-size: calc(1vw + 1em);
	font-weight: 100;
	line-height:1.3em;
}

h6{
	font-size: calc(0.9vw + 1em);
	font-weight: 100;
}

.d-inline{
	margin-right: 3px!important;
}

a{
	font-size: calc(0.5vw + 0.5em);
	color: var(--color-logo-orange);
}

ul{
    list-style: none;
}

.bc-white{
	background-color: var(--color-logo-white);
}

.bc-red-dark{
	background-color: var(--color-red-dark);
}

.color-white{
	color: var(--color-white)
}

.color-orange{
	color: var(--color-logo-orange)
}

.color-purple{
	color: var(--color-logo-purple)
}

.color-light-gray{
	color: var(--color-light-gray);
}

.mt-2{
	margin-top: 2em!important;
}
.mb-2{
	margin-bottom: 2em!important;
}
.mt-7{
	margin-top: 7em!important;
}

/* components layouts */

.layout{
	position: relative;
	width: 100%;
}

.grid-row{
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin:0;
}

.collapsed-content{
	display: none;
	position: relative;
}

/* navbar */

nav{
	position: fixed;
	top: 0;
	z-index: 4;
	height: var(--navbar-height);
	width: 100%;
	transition: all 0.5s;
	padding: 0em 3.5em;
}

#navbar{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: calc(1440px);
	background-color: transparent;
	padding: 1em 0;
	margin: 0 auto;
}

#navbar-content{
	position: relative;
	z-index: 15;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1em 3.5em;
}

#navbar .logo{
	display: flex;
	align-items: center;
}

.navigate{
	display: flex;
}

.collapsed-menu{
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.open-menu{
	max-height: 25em;
	height: 25em;
	background-color: white;
	border: 1px solid rgba(198, 198, 198, 0.49);
	border-radius: 28px;
	color: var(--color-logo-orange);
}

#navbar .language-select-mobile{
	position: relative;
	display: none;
	justify-content: center;
	margin-right: 1em;
}

#menu{
	width: 100%;
}

.navigate-menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#footer-menu{
	background-color: white;
	border: 1px solid rgba(198, 198, 198, 0.49);
	border-radius: 70px;
	color: var(--color-logo-orange);
	margin-top: 10px;
	height: 6em;
}
.vertical-divider-menu{
	flex-grow: 1;
	background-color: transparent;
	border-right: 1px solid rgba(171, 171, 171, 0.359);
	height: 25em;
	/* position: relative; */
}
/* banner */

#banner-layout{
	overflow: hidden;
	min-height: 100vh;
	top: 0;
}

.banner-img{
	width: 100%;
	height: 100%;
	animation: zoomInOut 15s infinite linear;
}

#mobile-banner-img{
	display: none;
}


#banner-content{
	position: relative;
	max-width: calc(1440px + 7em);
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	margin: calc(8% + var(--navbar-height)) auto 5% auto;
	padding: var(--container-padding);
}

#partners{
	position: relative;
	width: 100%;
	margin-bottom: 2%;
}

.logos {
	overflow: hidden;
	padding: 5em 0;
	white-space: nowrap;
	position: relative;
}

.logos-slide {
	display: inline-block;
	animation: 15s slide infinite linear;
	height: 3.7em;
}

.logos-slide img {
	max-height: 100%;
	width: auto;
	margin: 0 3em;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes zoomInOut {
	0%, 100% {
		transform: scale3d(1, 1, 1);
		filter: blur(0);
	}
	50% {
		transform: scale3d(2.5, 2.5, 2.5);
		filter: blur(0);
	}
}

/* opportunities */

#opportunities-layout{
	background-color: white;
	border-radius: 70px 70px 0px 0px;
}

#opportunities-content{
	position: relative;
	max-width: calc(1440px + 7em);	
	padding: var(--container-padding);
	padding-top: 12em;
	padding-bottom: 12em;
	margin: 0 auto;
}

#backToTop{
	position: sticky;
    top: 90%;
    left: 96%;
    z-index: 4;
    width: 32px;
    transform: rotate(99deg);
    cursor: pointer;
    opacity: 0;
    transition: all 2s;
}

#logo{
	cursor: pointer;
	max-height: 100%;
}

.navigate-home{
	cursor: pointer;
}

/* no more devs */
#no-more-devs{
	z-index: 2;
}
#no-more-devs-layout{
	border-radius: 50px;
	background-image: url('../media/background/purple-orange.png');
	background-size: cover;
	background-repeat: no-repeat;
	/* background-color: var(--color-logo-purple); */
}

#no-more-devs-content{
	position: relative;
	max-width: calc(1440px + 7em);	
	padding: var(--container-padding);
	padding-top: 10em;
	padding-bottom: 10em;
	margin: 0 auto;
}

#no-more-devs-carrousel{
	color: white;
}
#quotes{
	max-width: 9em;
	height: auto;
}

/* the-whell  */
#the-wheel-layout{
	background-color: white;
}

#the-wheel-content{
	position: relative;
    max-width: calc(1440px + 7em);
    padding: var(--container-padding);
    padding-top: 10em;
    padding-bottom: 10em;
    margin: 0 auto;
}

/* how-do */

#how-do-layout{
	border-radius: 50px;
	background-image: url('../media/background/purple-green-orange.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

#how-do-content{
	position: relative;
	padding: 6em 0 4em 14em;
	margin: 0 auto;
	color: white;
}

.step-number-container{
	display: flex;
	max-width: 60%;
}

.step-leyend-container{
	display: flex;
	flex-direction: column;
	width: 40%;
	padding-left: 3em;
}

.step-number{
	font-size: calc(8em + 24vw);
	color: rgba(255, 255, 255, 0.30);
	font-weight: 500;
	line-height: 1em;
	letter-spacing: -0.1em;
}

.step-leyend{
	margin-top: 2em;
	height: 50%;
}

.divider{
	height: 50%;
	border-bottom: 1px solid white;
}
/* cards */

.card{
	text-align: left;
	border-radius: 1.25em;
	border: none;
	position: relative;
	background-color: transparent!important;
}
.card-content{
	position: relative;
	padding: 2.5em 3em 1em 3em;
}
.card-collapse-content{
	position: relative;
	padding:0 3em;
}
.card-
.gradient-border {
	position: relative;
}

.sm-text-card{
	font-size: 1.2em;
	line-height: 1.475em;
}
.md-text-card{
	font-size: 1.525em;
	line-height: 1.475em;
	font-weight: 600;
}
.gradient-border::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 1.25em;
	border: 2px solid transparent;
	background: linear-gradient(45deg, #551872, #8BDCB3, #F34E1E) border-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}
.card-background-img{
	width: 100%;
}  
.member-name{
	font-size: calc(0.4vw + 1.4em);
	font-weight: 400;
	line-height: 1;
	font-family: 'Anek Bangla';
	color: #fff;
}

.Effect{
	font-size: calc(0.4vw + 1.1em);
	line-height: 1;
	color: #fff;
}

.role_container{
	font-size: calc(0.2vw + 1em);
	line-height: 1;
	color: #fff;
}

.card-member{
	margin: 2% 5%;
	padding: 2%;
    max-width: 100%;
}

.card-member > h6{
	margin-bottom: 0.1em;
}

.member-img{
	border-radius: 50%;
	max-width: 80%;
	margin-bottom: 0.2em;
}

/* buttons */
.link-button{
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: space-evenly;
	cursor: pointer;
	flex-grow: 1;
	width: 100%;
}
.link-button:hover img{
	transform: translateY(-0.5em);
	transition: 0.2s all linear;
}
.outlined{
	color: white;
	border: 1px solid rgb(255, 255, 255);
	background-color: transparent;
}
.white-button{
	position: relative;
	z-index: 10;
	color: var(--color-logo-purple);
	background-color: white;
	border: none;
	font-weight: 600;
}

.contact-button{
	position:relative;
	z-index: 10;
	border-radius: 50px;
	padding: 0 2em;
	height: 3em;
	max-height: 3em;
	max-width: 200px;
}

.menu-button{
	position: relative;
	z-index: 10;
	background-color: transparent;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: 3em;
	margin-left: 1em;
}
.collapsed-menu .menu-button,
.collapsed-menu .outlined,
.collapsed-menu ion-icon {
	color: white;
	border: 1px solid white;

}
.open-menu .menu-button,
.open-menu .outlined,
.open-menu ion-icon {	
	color: var(--color-logo-orange);
	border: 1px solid var(--color-logo-orange);
}

.arrow-button{
	position: relative;
	display: flex;
	cursor: pointer;
	justify-content: flex-end;
	height: 1em;
}

/* form components */

input, textarea, select{
	border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(128, 128, 128, 0.507);
    width: 100%;
	outline: none;
	font-size: calc(0.8em + 0.6vw);
}

.select-tc{
	display: flex;
	justify-content: space-between;
    border-bottom: 2px solid rgba(128, 128, 128, 0.507);
    width: 100%;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

.list-options-tc{
	display: none;
	position: absolute;
	z-index: 4;
	width: 100%;
	cursor: pointer;
	background-color: #ffffff;
	padding: 10px 10px;
	box-shadow: 0 5px 5px 1px rgb(218, 218, 218);
	border-radius: 10px;
}

.option-tc{
	border: 1px solid rgba(196, 196, 196, 0.342);
	border-radius: 10px;
	margin: 10px 5px;
	padding: 10px 15px;
	font-size: calc(0.7em + 0.4vw);
	line-height: 1.1em;
	background-color: white;
	transition: 1s;
}

.input-select{
	margin-block-end: 0.1em;
	color: rgb(37, 37, 37);
	border-bottom: 0;
	cursor:pointer;
	resize: none;
  	overflow: hidden;
	height: 40px;
}

.form-message{
	position: absolute;
    display: none;
    transition: 1s;
    width: 100%;
    border-left: 5px solid red;
    background-color: white;
    padding: 25px;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px #d1d1d14a;
}

/**/

ion-icon {
	font-size: 20px;
	font-weight: 100;
}

.ion-md-menu{
	font-size: 1.5em;
}

.ion-logo-linkedin{
	font-size: 35px;
	color: #cfcfcf;
}

.ion-md-arrow{
	font-size: 42px;
	color: #cfcfcf;
}

.arrow-left{
	height: 40%;
	margin-top: -5%;
}

.language-options{ 
	display: none;
	position: absolute;
	margin: 2em 0 1em 0;
	background: white;
	border-radius: 5px;
	padding: 0.5em 0 0.5em 1em;
	width: 100%;
	border: 1px solid rgba(224, 224, 224, 0.651);
}

.language-options a{
	font-size: calc(0.4vw + 0.8em);;
}

.flag{
	width:  calc(0.7vw + 0.7em);
	height:  calc(0.7vw + 0.7em);
	z-index: 2;
}

.language-select{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--color-gray-100);
	min-width: 100px;
}

.language-tittle{
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.language-tittle p{
	margin: 0;
	font-size: calc(0.7vw + 0.7em);
}

.a-flag{
	position:absolute;
	top: 7.7%;
	right: 4%;
}

a.btn-tc-lnk{
    width: auto;
    padding: 20px;
	text-align: center;
	font-size: calc(1vw + 1em);
    font-weight: 100;
    font-family: 'Anek Bangla';
	line-height: 1em;
}

#copyright{
	font-size: calc(0.5em + 0.7vw);
    position: relative;
    margin-top: -15%;
}

/* carousel */
.carousel-section {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}
  
.carousel {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	max-width: 100%;
	will-change: transform;
}

.no-more-devs-item-scroll {
	flex: 0 0 100vw;
	max-width: 100%;
}

.how-do-item-scroll{
	flex: 0 0 60vw;
}

input:focus, textarea:focus{
    border-bottom: 2px solid red;
}

.a-disbled{
	pointer-events: none!important;
	cursor: auto!important;
	color: #afafaf;
}

a:hover{
	color: red;
}

a,
a:link, a:visited, a:active {
    text-decoration:none;
	cursor: pointer;
}

.ion-logo-linkedin:hover{
	color: #0e76a8;
}

#backToTop:hover{
    filter: drop-shadow(1px 1px 5px #ff7300);
}

a.btn-tc-lnk:hover, a.btn-tc-lnk:focus{
	color: #fff;
	text-decoration: none;
}

.btn-tc:hover{
	box-shadow: 0px 5px 15px 1px rgb(0 0 0 / 56%);
}

.btn-tc:focus{
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 56%);
}

.input-select:focus{
	border-bottom: 0;
}

.option-hover{
	border-color: rgb(255, 47, 47);
	color: red;
	box-shadow: 0px 3px 5px 1px rgba(207, 207, 207, 0.295);
	transition: all 0.5s;
}

.fa-arrow-down{
	transform: rotate(0deg);
	transition: transform 0.5s linear;
}
  
.fa-arrow-down.open{
	transform: rotate(180deg);
	transition: transform 0.5s linear;
}

/* responsive  */

/* laptop */
@media only screen and (min-width: 769px) and (max-width: 1441px) {
	body {
		font-size: 12px;
	}
	.how-do-item-scroll{
		flex: 0 0 80vw;
	}
	.step-number{
	font-size: 30em;
	}
}

/* tablet */
@media only screen and (max-width: 768px) {
	body{
		font-size: 10px;
	}
	:root {
		--container-padding: 0 3em;
	}
	h1{
		line-height: 0.7em;
		font-size: calc(5.6vw + 1em);
	}
	.flag{
		width: 20px;
		height: 20px;
		z-index: 2;
	}	
	.language-select{
		min-width: 80px;
	}
	.language-select-home{
		top: 2%!important;
		right: 75%!important;
		min-width: 80px!important;
	}
	.language-select-home p,
	.language-select p{
		font-size: 0.8em;
	}
	#opportunities-card{
		display: none;
	}
}

/* mobile */
@media only screen and (max-width: 480px)   {
	body{
		font-size: 10px;
	}
	:root {
		--container-padding: 0 2em;
	}
	h1{
		font-size: calc(5.5vw + 1.3em);
		font-weight: 500;
	}	
	h2{
		font-size:calc(1.8em + 3vw);
		margin-bottom: 0;
		line-height: 0.8em;
	}
	
	h3{
		font-size: calc(1.3em + 3vw);
		margin-bottom: 0;
		line-height: 1em;
	}
	
	h4{
		font-size: calc(2vw + 0.8em);
		margin-bottom: 0;
		line-height: 1em;
		font-weight: 200;
	}	
	h5{
		font-size: calc(1vw + 1em);
		font-weight: 100;
		line-height:1.3em;
	}
	
	h6{
		font-size: calc(1em + 2vw);
		font-weight: 100;
	}

	.logo{
		height: 1.5em;
	}

	.contact-button{
		font-size: 1.3em;
	}
	
	.menu-button{
		font-size: 1.3em;
	}
	#desktop-banner-img{
		display: none;
	}

	#mobile-banner-img{
		display: block;
	}

	#banner-content{
		height: 50vh;
	}

	#quotes{
		max-width: 7em;
		height: auto;
	}
	
}

@media only screen and (max-width: 360px)   {
	body{
		font-size: 8px;
	}
}

.no-scroll {
    max-height: 100vh;
    overflow: hidden;
}

.absolute-scroll-position{
	position: absolute;
	transition: transform 5s linear;
	height: 50px;
}

.fixed-scroll-position{
	position: fixed;
	top: 100px;
	width: 100%;
	transition: transform 5s linear;
}

.sticky-position-scroll{
	position: sticky;
	top: 100px;
	width: 100%;
	transition: transform 5s linear;
}
.sticky-position-scroll-top{
	position: sticky;
	top: 0;
	width: 100%;
	transition: transform 5s linear;
}

.display-none{
	visibility: none;
}

.hidden {
	display: none;
	/* opacity: 0;
	height: 0;
	overflow: hidden;
	transition: all 1s linear; */
}