html,body {
	background-color: #fff;
	font-family: 'Titillium Web', sans-serif;
}

/* style elements */

.themeColor{
	--color-dark: #000000;
	--color-logo-white: #fff;
	--color-logo-red: #ff1322;
	--color-red-dark: #c5000c;
	--color-logo-green: #046b5b;
	--color-logo-blue: #2050FC;
	--color-light-turquoise: #08d9cf;
	--color-logo-orange: #ff7c00 ;
	--color-orange: #ffde65;
	--color-gray: #414141;
	--color-gray-100: #979797;
	--color-gray-200: #c9c9c9;
	--color-light-gray: #dddddd;
}

h1{
	font-size: calc(1em + 7.5vw);
	margin-bottom: 0;
	line-height: 1em;
	font-weight: bold;
}

h2{
	font-size: calc(1.5em + 4vw);
	margin-bottom: 0;
	line-height: 1em;
	font-weight: bold;
}

h3{
	font-size: 4.2vw;
	margin-bottom: 0;
	line-height: 1.1em;
	font-weight: 300;
}

h4{
	font-size: calc(2.2vw + 0.1em);
	margin-bottom: 0;
	line-height: 1.2em;
	font-weight: 300;
}

h5{
	font-size: 2.3vw;
}

h6{
	font-size: calc(0.6vw + 0.7em);
	font-weight: 100;
}

a{
	color: var(--color-dark);
	font-weight: 600;
	font-size: 1.3em;
}

a:hover{
	color: red;
	font-weight: bold;
}

a,
a:link, a:visited, a:active {
    text-decoration:none;
	cursor: pointer;
}

ul{
    list-style: none;
}

.bc-white{
	background-color: var(--color-logo-white);
}

.bc-red-dark{
	background-color: var(--color-red-dark);
}

.bc-red{
	background-color: var(--color-logo-red);
}

.bc-green{
	background-color: var(--color-logo-green);
}

.bc-light-orange{
	background-color: var(--color-orange);
}

.bc-orange{
	background-color: var(--color-logo-orange);
}

.bc-gray{
	background-color: #7e7e7e;
}

.bc-gray-100{
	background-color: var(--color-gray-100);
}

.bc-gray-200{
	background-color: var(--color-gray-200);
}

.bc-blue{
	background-color: var(--color-logo-turquoise);
}

.bc-light-gray{
	background-color: var(--color-light-gray);
}

.color-white{
	color: var(--color-logo-white)
}

.color-light-gray{
	color: var(--color-light-gray);
}

.color-orange{
	color: var(--color-logo-orange);
}

.color-light-orange{
	color: var(--color-orange);
}

.color-gray{
	color: var(--color-gray);
}

.color-gray-100{
	color: var(--color-gray-100);
}

.color-red{
	color: var(--color-logo-red);
}

.color-green{
	color: var(--color-logo-green);
}

.color-blue{
	color: var(--color-logo-blue);
}

.color-light-turquoise{
	color: var(--color-light-turquoise);
}

.color-dark{
	color: var(--color-dark);
}

.fw-600{
	font-weight: 600;
}

.gradientBlackGray{
	background: linear-gradient(0deg, rgb(176 176 176 / 76%) 0%, rgb(0 0 0 / 97%) 95%);
}

/* components layouts */

#pageContent{
	padding-top: 3%;
}

.grid-row{
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin:0;
}

#navBar{
	position: sticky;
	z-index: 4;
	top: 0;
	display: flex;
	width: 100%;
	height: 130px;
	padding: 10px 150px;
	background-color: #fff;
}

#navBar .logo{
	display: flex;
	width: 20%;
}

#navBar .navigate{
	display: flex;
	width: 70%;
	justify-content: space-around;
	align-items: end;
}

#weTrainLayer{
	margin: -45% 0 0 20%;
}

#weDoLayer{
	margin: -100% 5% 0 5%;
}

#howDoLayer{
	margin: 5% 5% 0 5%;
}
/* sections */

#banner{
	padding: 0 5%;
}

#residence{
    margin-top: -10%;
    text-align: right;
    padding: 30% 10% 25% 0;
	background: linear-gradient(90deg, rgb(49, 49, 49) 0%, rgba(56,56,56,1) 35%, rgb(12, 12, 12) 100%);
}

#weDo{
	margin-top: -25%;
}

#howDo{
	background-color: #f0f0f0;
	height: 1500px;
}

/* components */

.card{
	text-align: left;
	padding: 6%;
	margin: 5% 5%;
	border-radius: 30px;
	border: none;
}

.cardHeader{
	display: flex;
}

.cardTitle{
	font-size: 1.4vw;
	font-weight: bold;
}

.cardCentralText{
	font-size:calc(1.3vw + 1em);
	line-height: 0.3em;
	font-weight: bold;
}

/* positioning */

#bannerDecorationPlus :nth-child(1){
	margin-right: -10%;
	z-index: 2;
}

#bannerDecorationPlus :nth-child(2){
    z-index: 1;
}

#bannerDecorationPlus :nth-child(3) {
    margin: 0 0 15% -20%;
}

#bannerDecorationPlus :nth-child(4) {
    margin: 0 0 -45% -55%;
	z-index: 2;
}

#bannerDecorationPlus :nth-child(5) {
    margin: 0 0 -25% 0%;
	z-index: 3;
}

#bannerDecorationPlus :nth-child(6) {
    margin:-18% 0 0% 50%;
	z-index: 4;
}

#weTrain{
	margin-top: -18%;
}

#weTrain > .layerComponent{
	margin-top: -55%;
}

#weTrain .col-4{
	margin-right: 25%;
}

#weTrainCentralText{
	margin: -45% 0 0 20%;
}

#weDo{
	position: relative;
	z-index: 2;
}

#weDo #logoOrange{
	position: absolute;
	margin-top: -15%;
	filter: opacity(0.3) brightness(0.8);
}

#wedoLayer{
	padding: 0 5%;
	margin-top: -100%;
}

#logoCardDuration{
	width: 35%;
    position: absolute;
    top: 5%;
    right: 10%;
    height: 30%;
}

#plusCardDuration{
    position: absolute;
    top: 5%;
    right: 0%;
    width: 25%;
    height: 20%;
}

#logoCardOrganization{
	position: absolute;
    top: 5%;
    right: 10%;
    width: 25%;
    height: 30%;
}

#logoCardOurSeniors{
	position: absolute;
    top: 5%;
    right: 10%;
    width: 25%;
    height: 30%;
}

#howDo{
	position: relative;
	margin-top: -20%;
	padding-top: 30%;
	z-index: 1;
}

#howDoDecorationPlus{
	position: absolute;
    right: 0%;
    top: 20%;
    width: 30%;
}

#howDoDecorationPlus :nth-child(2){
	margin: 0 0 -40% -45%;
	z-index: 2;
}

#howDoDecorationPlus :nth-child(3){
	margin: 0 0% -40% 6%;
}

#howDoDecorationPlus :nth-child(4){
	margin: -15% 0 0 -8%;
}

#howDoDecorationPlus :nth-child(5){
	margin: 0 0 -27% -17%;
}

/* elements */

ion-icon {
	font-size: 24px;
	color: rgb(112, 112, 112);
}


.ion-logo-linkedin{
	font-size: 42px;
	color: #cfcfcf;
}

.ion-md-arrow{
	font-size: 42px;
	color: #cfcfcf;
}

.ion-logo-linkedin:hover{
	color: #0e76a8;
}

.arrow-left{
	height: 40%;
	margin-top: -5%;
}

.card-member{
	margin: 10% 0 0 15%;
    border-bottom: 3px solid turquoise;
    width: 70%;
    max-width: 100%;
}

.backgroundGreen{
	height: 1500px;
	background-repeat: no-repeat;
	background-size: cover;
	padding: -200px -5% 1000px -5%;
}


.backgroundOrangeGradient{
	height: 2500px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: -250px -100px 0px -100px;
}

.lenguage-options{ 
	display: none;
}

.flag{
	width: 30px;
	height: 30px;
	z-index: 2;
}

.language-select{
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--color-gray-100);
	min-width: 120px;
}

.language-tittle p{
	margin: 0;
	font-size: 1.3em;
}

.language-tittle{
	display: flex;
	justify-content: space-around;
	align-items: end;
	cursor: pointer;
}

.a-flag{
	position:absolute;
	top: 7.7%;
	right: 4%;
}

/* responsive  */

@media only screen and (max-width: 991px) and (min-width: 501px) {
	
	.logo-home{
		width: 60%!important; 
		margin: 5% 0 0 5%; 
	}
	.flag{
		width: 30px;
		height: 30px;
		z-index: 2;
	}	
	.language-select{
		top: 12%;
		right: 80%;
		min-width: 90px;
	}

	.language-select-home{
		top: 2%!important;
		right: 75%!important;
		min-width: 80px!important;
	}

	.language-select-home p,
	.language-select p{
		font-size: 1.2em;
		margin-top: 0;
	}

	/* .logo{
		z-index: 2;
		width: 30vw;
	} */
}

@media only screen and (max-width: 500px) {
	#navBar{
		display: none;
	}
	.logo{
		z-index: 2;
		position: absolute;
		width: 32vw;
	}
	.logo-home{
		width: 60%!important; 
		margin: 5% 0 0 5%; 
	}
	.flag{
		width: 20px;
		height: 20px;
		z-index: 2;
	}	
	.language-select{
		top: 9%;
		right: 75%;
		min-width: 80px;
	}
	.lenguage-options{
		background: white;
		border-radius: 5px;
		border: 1px solid #cacaca96;
		padding: 2px 0 2px 5px;
	}
	.language-select-home{
		top: 2%!important;
		right: 75%!important;
		min-width: 80px!important;
	}

	.language-select-home p,
	.language-select p{
		font-size: 0.8em;
	}
	.ion-logo-linkedin{
		font-size: 30px;
	}	
}

.a-disbled{
	pointer-events: none!important;
	cursor: auto!important;
	color: #afafaf;
}

.hover-red:hover{
	color: var(--color-logo-red)!important;
}

.hover-turquoise:hover{
	color: var(--color-logo-turquoise)!important;
}

.hover-green:hover{
	color: var(--color-logo-green)!important;
}

.hover-orange:hover{
	color: var(--color-logo-orange)!important;
}

.hover-bc-red:hover{
	cursor: pointer;
	background-color: var(--color-logo-red)!important;
}

.hover-bc-green:hover{
	cursor: pointer;
	background-color: var(--color-logo-green)!important;
}

.hover-bc-orange:hover{
	cursor: pointer;
	background-color: var(--color-logo-orange)!important;
}

.hover-bc-turquoise:hover{
	cursor: pointer;
	background-color: var(--color-logo-turquoise)!important;
}

.arrowOrange{
	margin: 70% 0 0 30%;
	width: 80%;
	color: var(--color-logo-orange);
}

input, textarea, select{
	border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(128, 128, 128, 0.507);
    width: 100%;
	outline: none;
}

input:focus, textarea:focus{
    border-bottom: 2px solid red;
}

@media only screen and (max-width: 1300px) and (min-width: 992px),
			screen and (max-width: 560px) {
	textarea{
		height: 55px;
	}
}

.btn-tc{
	font-size: 1.1em;
	color: #fff;
	outline: none;
    width: 150px;
    height: 50px;
    border: none;
	background: rgb(0, 0, 0);
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 56%);
	border-radius: 3px;
}

a.btn-tc-lnk{
    width: auto;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: 400;
}

a.btn-tc-lnk:hover, a.btn-tc-lnk:focus{
	color: #fff;
	text-decoration: none;
}

.btn-green{
	background: linear-gradient( 90deg, #446e5c, #317287);
	box-shadow: 0px 2px 10px 1px #317287;
}

.btn-red{
	background: linear-gradient( 90deg, #ff1322cc, #efa31ed4);
	box-shadow: 0px 2px 10px 1px rgba(255, 0, 0, 0.438);
}

.btn-tc:hover{
	box-shadow: 0px 5px 15px 1px rgb(0 0 0 / 56%);
}

.btn-tc:focus{
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 56%);
}

.btn-red:hover{
    box-shadow: 0px 5px 10px 1px rgba(255, 0, 0, 0.438);
}

.btn-red:focus{
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 56%);
}

.select-tc{
    border-bottom: 2px solid rgba(128, 128, 128, 0.507);
    width: 100%;
	cursor: pointer;
}

.list-options-tc{
	display: none;
	background-color: var(--color-light-200);
	padding-left: 0;
	width: 100%;
	cursor: pointer;
}

.option-tc{
	border-bottom: 1px solid rgba(182, 182, 182, 0.342);
	padding: 5px 0px;
	font-size: calc(0.8em + 0.2vw);
}

.input-select{
	margin-block-end: 0.1em;
	color: rgb(37, 37, 37);
	border-bottom: 0;
	cursor:pointer;
}

.input-select:focus{
	border-bottom: 0;
}

.chevron-select{
	width: 30px;
	height: 30px;
}

/* effect */

._effect {
	font-weight: bold;
	animation: hide-show infinite .8s;
	color: #d3031c;
}
@keyframes hide-show {
	0% { opacity: 0; }
	49% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 1; }
}

.chevron-effect{
	display: inline-block;
	animation: rotate 1s;
	transform: rotate(180deg);
}

@keyframes rotate {
	100%{transform: rotate(180deg);}
}
