---
import Layout from '../../layouts/Layout.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import Container from '../../components/Container.astro'
import FormContact from '../../components/FormContact.astro'
---

<Layout
  lang="en"
  title="Contact | Teamcubation"
  description="Get in touch to learn more about our software development and talent incubation services."
  ogImage="/teamcubation_og.jpg"
  alternateLanguages={[
    { lang: 'es', href: 'https://teamcubation.com/contacto' },
    { lang: 'en', href: 'https://teamcubation.com/en/contact' },
    { lang: 'pt', href: 'https://teamcubation.com/pt/contato' },
  ]}
>
  <Header
    lang="en"
    currentPage="/contacto"
    contactLabel="Contact"
    servicesLabel="SERVICES"
    productLabel="PRODUCT"
    languageLabel="LANGUAGE"
    langUrls={{ es: '/contacto', en: '/en/contact', pt: '/pt/contato' }}
  />

  <main>
    <section class="py-20">
      <Container class="!max-w-[860px]">
        <FormContact lang="en" titleTag="h1" />
      </Container>
    </section>
  </main>

  <Footer lang="en" />
</Layout>
