---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Container from '../components/Container.astro'
---

<Layout
  title="Política de Privacidad | Teamcubation"
  description="Política de privacidad y cookies del sitio web y los servicios de Teamcubation."
  ogImage="/teamcubation_og.jpg"
>
  <Header
    currentPage="/privacy-policy"
    langUrls={{ es: '/privacy-policy', en: '/privacy-policy', pt: '/privacy-policy' }}
  />

  <main>
    <section class="py-16 md:py-20">
      <Container class="!max-w-[820px]">
        <article class="legal" lang="en">
  <h1>Privacy and Cookie Policy</h1>
  <h2>Privacy Policy</h2>
  <p>This Privacy Policy (hereinafter, the “<strong>Privacy Policy</strong>") applies to the use of the services provided through the Website available at the URL: <a href="https://teamcubation.com/" target="_blank" rel="noopener noreferrer">https://teamcubation.com/</a>, (hereinafter, the “<strong>Website</strong>"), by <strong>TQ DESARROLLADORES S.A.S.</strong>, with headquarters in Dean Funes 163, Floor 2, Apartment 13, Córdoba (hereinafter, “<strong>TEAMCUBATION</strong>") and their affiliates, in order to offer users of the Website complete information about the provision of the Services.</p>
  <p>All terms not defined in this Privacy Policy will refer to what is described in the TEAMCUBATION Terms and Conditions, under the URL: www.teamcubation.com (hereinafter, the <strong>“Terms and Conditions”</strong>).</p>
  <p>The mere access to the Website and/or the use of the Services attributes to the person who does so the status of user of TEAMCUBATION (hereinafter, the “<strong>User</strong>", or the "<strong>Users</strong>”, as applicable) and expresses full and unreserved acceptance of each and every one of the clauses of the Privacy Policy in the version published by TEAMCUBATION at the same time that the User accesses the Website.</p>
  <p>Likewise, the use of the Services expresses the User's full and unreserved acceptance of the Terms and Conditions published by TEAMCUBATION on the Website.</p>
  <p>BEFORE BROWSING AND/OR USING THE WEBSITE PLEASE READ THIS PRIVACY POLICY AND THE TERMS AND CONDITIONS CAREFULLY. IF THE USER DOES NOT AGREE WITH THEM, THEY SHOULD REFRAIN FROM USING THE WEBSITE AND/OR THE SERVICES.</p>
  <p>To TEAMCUBATION The privacy of the User's personal data is very important. In the event that the User has any questions about the Privacy Policy, or about the Website of the same, you must contact TEAMCUBATION, at any time, by sending an email to info@teamcubation.com.</p>
  <h2><span class="sec-num">1.</span> COLLECTION OF USER INFORMATION. PURPOSES.</h2>
  <p>TEAMCUBATION, in its capacity as owner of the Website, will process the data in accordance with the instructions informed by the Client, and, as the case may be, may become the Data Processor, and eventually, the Data Processing Manager.</p>
  <p>The User accepts that TEAMCUBATION may collect information using cookies, tags and other methods (such as the information provided by the User when registering and/or using the Website and/or the Service), to inform themselves about the Cookies used on the Site. Website you can access the Teamcubation Cookies policy available in this same document. The collection of information allows the User to personalize their experience on the Website in a way that suits their needs.</p>
  <p>TEAMCUBATION offers the possibility for the Client, through the Account Administrator, to request the opening of a user on the Website.</p>
  <p>Once the Account Administrator is registered, he must grant each of his collaborators a User in Teamcubation to be able to receive the Services in the Product designated by the Account Administrator.</p>
  <p>Once the Account Administrator informs the Authorized Users that they can enter, the Authorized Users may voluntarily provide information in a profile created for these purposes on the Website (hereinafter, the “<strong>Profile</strong>”).</p>
  <p>When entering their Profile, Users must complete fields with their correct and updated information. You may be asked for the following information: Yo. name; ii. last name; iii. email; Furthermore, in order to have an updated Profile, you may voluntarily inform: i. academic data; ii. current employment relationship; and iii. previous work experiences; as well as all other data that the User voluntarily provides for the purposes of accessing the Services offered on the Website (hereinafter, the "<strong>Personal Data</strong>", or the “<strong>Personal Data</strong>"). The User must verify that the Personal Data made available to TEAMCUBATION is accurate, precise and true.</p>
  <h2><span class="sec-num">2.</span> USE OF COLLECTED USER INFORMATION.</h2>
  <p>TEAMCUBATION stores and will use the information provided by the User and that collected by TEAMCUBATION for the period necessary to fulfill the purpose of analyzing it.</p>
  <p>Any person who has provided personal contact information through the Website TEAMCUBATION, you can send an email to info@teamcubation.com, in order to update, delete and/or correct your personal contact information. TEAMCUBATION will respond to said request within 5 (five) days following receipt of it via email.</p>
  <p>In order to correctly provide the Services, Teamcubation may share the User's Personal Data with third party service providers required for the execution of the Services requested from Teamcubation by the Client, the National Securities Commission, and whoever it indicates. TEAMCUBATION will not be responsible for information shared by third party providers to third parties.</p>
  <p>TEAMCUBATION will use the information provided by Users and that collected by TEAMCUBATION if requested by courts, or national or international state organizations that require it and request it in the corresponding manner.</p>
  <p>The User understands and accepts that TEAMCUBATION, at its discretion, requests the conservation of the documentation by a third party specialized in it.</p>
  <h2><span class="sec-num">3.</span> DATA TRANSFER</h2>
  <p>Only to comply with the purposes established in this Privacy Policy and for the purposes of providing the Services, TEAMCUBATION may disclose Personal Data and/or personal information, when necessary, to authorities, and other third parties, such as third-party service providers. used in connection with the Services provided.</p>
  <p>In some cases, personal information may be transferred outside the country where the Personal Data is collected to countries with: lower, the same or better levels of protection. If they are carried out, the User consents to such international transfers without limitations.</p>
  <h2><span class="sec-num">4.</span> MINORS.</h2>
  <p>Although the Website and/or the Services are not directed at minors, in the event that a minor has access to them, their use must be supervised by parents, guardians or legal guardians. The Website and/or the Services are permitted only to those who are of legal age to contract and are not legally inhibited or in any way prohibited from exercising legal acts, rights and/or obligations. Given this, minors under 18 years of age are not permitted to enter the Website and/or use the Services, nor to provide any Personal Data or any other type of information.</p>
  <h2><span class="sec-num">5.</span> CONFIDENTIALITY AND SECURITY OF INFORMATION.</h2>
  <p>TEAMCUBATION has adopted reasonable security measures to protect the User's information and prevent unauthorized access to their data or any unauthorized modification, disclosure or destruction thereof. The information collected by TEAMCUBATION or provided by the User will be kept strictly confidential. Access to Personal Data is restricted to those employees, contractors, Third Party Marketers, operators and representatives of TEAMCUBATION who need to know such data to perform their functions and develop or improve the Services.</p>
  <p>Without prejudice to the foregoing, considering that the Internet is an open system, with public access, TEAMCUBATION cannot guarantee that unauthorized third parties will not eventually be able to overcome security measures and use the User's information improperly.</p>
  <h2><span class="sec-num">6.</span> CHANGES IN THE CORPORATE STRUCTURE.</h2>
  <p>TEAMCUBATION reserves the right to transfer the information collected in the event of a sale or merger of TEAMCUBATION, or an acquisition of the principal assets of TEAMCUBATION, or any other type of transfer of TEAMCUBATION to another entity and/or between TEAMCUBATION entities. In this case, TEAMCUBATION must adopt reasonable measures to ensure that said information is used in a manner consistent with the Privacy Policy.</p>
  <h2><span class="sec-num">7.</span> USER RIGHTS OVER THE INFORMATION.</h2>
  <p>In relation to the processing of Personal Data of Users in general of the Website, and of those Authorized Users, and without prejudice to the fact that TEAMCUBATION acts as mere intermediary between Authorized Users and the Client, processing said Personal Data in accordance with the Client's instructions, Any of the Users has the right to request from TEAMCUBATION:</p>
  <p>- <strong>Access</strong>: You can request confirmation as to whether or not data that concerns you is being processed, as well as additional clarifications on the information contained in this information note.</p>
  <p>- <strong>Rectification:</strong> You can request that the data you have provided us be corrected or completed if it is inaccurate.</p>
  <p>- <strong>Suppression</strong>: You can request the deletion of your data, if it is no longer necessary for our purposes, in the event of revocation of consent or your opposition to its processing, in the case of unlawful processing, or if there is a legal obligation to delete it.</p>
  <p>For these purposes, the User who wishes to exercise these rights must make a request by sending an email with the subject <strong>“Access to Personal Data”</strong> a info@teamcubation.com. TEAMCUBATION may require said User to identify himself, which may be verified by TEAMCUBATION, together with the Client, as well as specifying the Personal Data to which you wish to access, rectify or remove.</p>
  <p>TEAMCUBATION may reject the processing of requests that are unreasonably repetitive or systematic, that require a disproportionate technical effort, that endanger the privacy of the User, or that are considered impractical, or for which it is not necessary to access the Data.</p>
  <p>The service to be provided for access to the aforementioned rights will be provided by TEAMCUBATION free of charge, except in the event that it requires a disproportionate or unreasonable effort, in which case an administration fee may be charged.</p>
  <p>The owner of the personal data has the power to exercise the right of access to the same free of charge at intervals of no less than six months, unless a legitimate interest is proven for this purpose in accordance with the provisions of article 14, paragraph 3 of the Law No. 25,326. The National Directorate for the Protection of Personal Data, the control body of Law No. 25,326, has the power to respond to complaints and claims filed in relation to non-compliance with the rules on the protection of personal data.</p>
  <p>The User can access their data at any time by sending an e-mail to info@teamcubation.com, or a letter to the aforementioned address.</p>
  <p>In the event that the User considers that their rights have been violated under current personal data protection laws, they will have the power to exercise the right of access, portability, rectification or removal thereof before the competent authority according to the country. where the User is located and in accordance with the procedures and forms that these authorities determine in each case.</p>
  <p>THE OWNER OF THE PERSONAL DATA HAS THE FACULTY TO EXERCISE THE RIGHT OF ACCESS TO THE SAME FREE OF CHARGE AT INTERVALS NOT LESS THAN SIX MONTHS, UNLESS A LEGITIMATE INTEREST IS CREDITED TO THIS EFFECT IN ACCORDANCE WITH THE PROVISIONS ESTABLISHED IN ARTICLE 14, SECTION 3 OF LAW Nº 25,326 OF THE ARGENTINE REPUBLIC. THE ENFORCEMENT AUTHORITY (IN THE ARGENTINE REPUBLIC, THE AGENCY FOR ACCESS TO PUBLIC INFORMATION, CONTROL BODY OF LAW Nº 25,326), HAS THE RESPONSIBILITY TO ATTEND COMPLAINTS AND CLAIMS THAT ARE FILED IN RELATION TO NON-COMPLIANCE WITH PROTECTION RULES. OF PERSONAL DATA.</p>
  <p>The User may contact the <strong>AGENCY FOR ACCESS TO PUBLIC INFORMATION</strong> through the following addresses:</p>
  <p>Located at: Av. Pte. Julio A. Roca 710, 2nd Floor - City of Buenos Aires</p>
  <p>URL: www.argentina.gob.ar/aaip</p>
  <p>Email: datapersonales@aaip.gob.ar</p>
  <p>Tel.: + 54 11-2821-0047.</p>
  <h2><span class="sec-num">8.</span> EXCEPTIONS</h2>
  <p>Notwithstanding any other provision to the contrary in the Privacy Policy, TEAMCUBATION may disclose certain personal information of the User, when it believes in good faith that such disclosure is reasonably necessary to:</p>
  <ul>
    <li>avoid legal liability;</li>
    <li>comply with a legal demand, such as a search warrant, subpoena, or court order;</li>
    <li>comply with a requirement of a government or regulatory authority; or</li>
    <li>protect the rights, property or safety of TEAMCUBATION, the User, or a third party.</li>
  </ul>
  <h2><span class="sec-num">9.</span> CHANGES IN THE PRIVACY POLICY</h2>
  <p>TEAMCUBATION may modify the Privacy Policy at any time. New versions of the Privacy Policy will be notified by publishing said new version on the Website and notified through the contact methods that the User declares where appropriate.</p>
  <p>In the event that the User is registered with an alternative contact form, notice will be given through a notification on the Website.</p>
  <p>The new version of the Privacy Policy will be presumed to be known and accepted by the Users, once the notification is given and the updated version is published on the Website, and the User continues to use the Services.</p>
  <h2><span class="sec-num">10.</span> CONTACT.</h2>
  <p>If the User has any questions about the Privacy Policy, or about its Website, they must contact TEAMCUBATION, at any time, via email to: info@teamcubation.com.</p>
  <hr />
  <h2>Cookies Policy</h2>
  <p><strong>TQ Experience S.A.S.</strong>, domiciled in Dean Funes 163, Floor 2, Apartment 13, Córdoba (hereinafter, “<strong>TEAMCUBATION</strong>") will use "cookies" on the website located under URL: https://teamcubation.com/, or in any other Teamcubation application or platform (hereinafter, and interchangeably, the “<strong>Website</strong>") in order to offer the Client, its Account Administrator, and Authorized Users - as defined in the Terms and Conditions - a better experience on the Website (hereinafter, the "<strong>User</strong>” or the “<strong>Users</strong>”, as appropriate).</p>
  <p>The term referred to here as cookies should be understood in the broad sense, including other similar technologies such as local shared objects, flash cookies, web beacons, bugs, other tracking technologies, etc.</p>
  <h2><span class="sec-num">1.</span> What are cookies?</h2>
  <p>A cookie is a small file of letters and numbers that is downloaded to the hard drive of the computer, smartphone, tablet, etc. (hereinafter, the “<strong>Device</strong>") of the User when accessing the Website and consenting to the use of cookies. Through cookies, the Website can "remember" the User's actions or preferences over time.</p>
  <h2><span class="sec-num">2.</span> What are the types of cookies?</h2>
  <p>Strictly necessary: Also called "technical" or "functional", they are those that allow navigation through the Website, guarantee its correct functioning and the use of the different options or services that exist therein. These are cookies that allow, for example, controlling traffic and data communication, identifying the session, accessing restricted access parts, controlling fraud linked to the security of the service, using security elements during navigation, enabling dynamic content ( for example, loading animation of a text or image).</p>
  <p>Strictly necessary cookies guarantee essential functions to use the Website. These are our own cookies, for example, to guarantee that if you log in as a registered user, your session remains active while browsing each and every one of the different sections of the website. The use of strictly necessary cookies on the Website is necessary without your consent. Therefore, strictly necessary cookies cannot be activated or deactivated individually, although you can deactivate cookies in your browser at any time (see how to deactivate them in Clauses 6 and 7, below in these Cookie Policies).</p>
  <p>Configuration: are those that allow information to be remembered so that the User can access the service with certain characteristics that can differentiate their experience from that of other users, such as, for example, the language, the number of results to be displayed when the user performs a search, the appearance or content of the service depending on the type of browser through which the user accesses the service or the region from which the user accesses the service, etc.</p>
  <p>Analytics or measurement: are those that allow the monitoring and analysis of the behavior of all the Users of the Website. The information collected through this type of cookies is used to measure the activity of the websites, application or platform, in order to introduce improvements based on the analysis of the usage data made by users of the Website.</p>
  <p>Behavioral advertising: are those that store information on user behavior obtained through continuous observation of their browsing habits, which allows the development of a specific user profile to display advertising and personalized content based on it. This makes it possible to manage, in the most efficient way possible, the advertising spaces and content of the Website according to the specific user profile.</p>
  <p>Geographic location: are those that allow your precise geographical location to fulfill several of the previous purposes, such as showing you advertising related to the place where you are or in the language of said place.</p>
  <p>Depending on the entity that manages the cookies, they can be:</p>
  <p>Own cookies: These are those sent from the Website, generally used to identify preferences regarding language and location or to offer the basic functions of the Website.</p>
  <p>Third party cookies: These are those that are sent to the User's device from a computer or domain that is not managed by TEAMCUBATION, but by another entity that processes the data obtained through cookies.</p>
  <p>The User may configure the Website if it does not support certain types of cookies or specific cookies through the cookie banner or the cookie control panel available. <a href="https://teamcubation.com/cookies" target="_blank" rel="noopener noreferrer">www.teamcubation.com/cookies</a>.</p>
  <h2><span class="sec-num">3.</span> Why does TEAMCUBATION use cookies?</h2>
  <p>TEAMCUBATION uses cookies to collect information to optimize navigation and improve the content and functionalities of the Website. In this way, TEAMCUBATION will be able to improve the User's experience when visiting the Website. For example, cookies help identify the User, if they are registered or have an account on the Website, to remember the User's preferences, such as language or country, during navigation and on future visits.</p>
  <p>Through the information collected in cookies, TEAMCUBATION may improve the Website, for example, by estimating usage patterns and/or adapting the Website to the individual interests of Users.</p>
  <h2><span class="sec-num">4.</span> What cookies does TEAMCUBATION use on the Website?</h2>
  <p>TEAMCUBATION considers it extremely important that the User is informed about which cookies are configured on the Website, and the reason for their configuration. By virtue of this, TEAMCUBATION informs the User that it will use the following cookies:</p>
  <p>The detailed list of cookies used — including their name, type and purpose — is available through the cookie control panel on the Website.</p>
  <h2><span class="sec-num">5.</span> User Consent</h2>
  <p>TEAMCUBATION will only use those cookies to which the User has given their consent through the cookie banner on the Website. In this sense, the User may view at any time the cookies through the cookie control panel available <a href="https://teamcubation.com/cookies" target="_blank" rel="noopener noreferrer">www.teamcubation.com/cookies</a>.</p>
  <p>If, after having obtained the User's consent, TEAMCUBATION makes a change in the cookies or the purposes of their use, TEAMCUBATION will request the User's consent again.</p>
  <h2><span class="sec-num">6.</span> How to revoke Consent on the Website?</h2>
  <p>The User may modify or revoke their consent at any time by configuring the options in the cookie control panel.</p>
  <p>For third-party cookies, the revocation procedures are managed and controlled exclusively by each provider. Therefore, the User may delete them from the browser options or from the system offered by the third party itself.</p>
  <h2><span class="sec-num">7.</span> How to disable Cookies on the Device?</h2>
  <p>Those cookies that are not mandatory for browsing this Platform may be disabled in the Website configuration. These settings are found in the footer of the Website. Additionally, all browsers allow you to make changes to disable cookie settings.</p>
  <p>This is why most browsers offer the ability to manage cookies, to obtain more precise control over privacy. These settings are located in the “options” or “preferences” menu of your browser.</p>
  <p>Below, you can find the links for each browser to disable cookies by following the instructions:</p>
  <ul>
    <li>Internet Explorer (<a href="https://goo.gl/iU2wh2" target="_blank" rel="noopener noreferrer">https://goo.gl/iU2wh2</a>)</li>
    <li>In the tools menu, select “Internet Options.”</li>
    <li>Click on the privacy tab.</li>
    <li>You can configure privacy with a six-position cursor that allows you to control the number of cookies that will be installed: Block all cookies, High, Medium High, Medium (default level), Low and Accept all cookies.</li>
    <li>Mozilla Firefox (<a href="http://goo.gl/QXWYmv" target="_blank" rel="noopener noreferrer">http://goo.gl/QXWYmv</a>)</li>
    <li>At the top of the Firefox window click on the Tools menu.</li>
    <li>Select Options.</li>
    <li>Select the Privacy panel.</li>
    <li>In the Firefox option you can choose Use custom settings for your history, as well as other issues related to your Privacy.</li>
    <li>Google Chrome (<a href="http://goo.gl/fQnkSB" target="_blank" rel="noopener noreferrer">http://goo.gl/fQnkSB</a>)</li>
    <li>Click on the menu located on the toolbar.</li>
    <li>Select Settings.</li>
    <li>Click Show advanced options.</li>
    <li>In the “Privacy” selection, click on the Content Settings button.</li>
    <li>In the Cookies selection, the options can be configured.</li>
  </ul>
  <ul>
    <li>Safari (<a href="https://goo.gl/PCjEm3" target="_blank" rel="noopener noreferrer">https://goo.gl/PcjEm3</a>; <a href="https://goo.gl/dQywEo)" target="_blank" rel="noopener noreferrer">https://goo.gl/dQywEo)</a></li>
    <li>In the configuration menu select the “Preferences” option.</li>
    <li>Open the privacy tab.</li>
    <li>Select the option you want from the “block cookies” section.</li>
    <li>Please remember that certain features and full functionality of the Website may not be available after disabling cookies.</li>
  </ul>
  <p>If you do not wish to be tracked by cookies, Google has developed an add-on to install in your browser which you can access at the following link: <a href="http://goo.gl/up4ND" target="_blank" rel="noopener noreferrer">http://goo.gl/up4ND</a>.</p>
  <h2><span class="sec-num">8.</span> Contact</h2>
  <p>If the User has any questions about the Cookies Policy, or about the Website, they must contact TEAMCUBATION, at any time, via email at info@teamcubation.com</p>
        </article>
      </Container>
    </section>
  </main>

  <Footer lang="es" />
</Layout>

<style>
  .legal {
    color: var(--color-content-secondary);
    font-size: 15px;
    line-height: 1.75;
  }
  .legal h1 {
    color: var(--color-content-primary);
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 6px;
  }
  @media (min-width: 800px) {
    .legal h1 { font-size: 40px; letter-spacing: -1.2px; }
  }
  .legal .meta {
    color: var(--color-content-light);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-bottom: 32px;
  }
  .legal h2 {
    color: var(--color-content-primary);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.4px;
    line-height: 1.25;
    margin-top: 44px;
    margin-bottom: 14px;
  }
  .legal h2 .sec-num { color: var(--color-primary); }
  .legal h3 {
    color: var(--color-content-primary);
    font-size: 16px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 10px;
  }
  .legal p { margin-bottom: 16px; }
  .legal strong { color: var(--color-content-primary); font-weight: 700; }
  .legal em { font-style: italic; }
  .legal a { color: var(--color-primary); text-decoration: underline; word-break: break-word; }
  .legal a:hover { color: var(--color-primary-hover); }
  .legal ol, .legal ul { margin: 0 0 18px; padding-left: 26px; list-style-position: outside; }
  .legal ol { list-style-type: decimal; }
  .legal ul { list-style-type: disc; }
  .legal li { margin-bottom: 10px; padding-left: 4px; }
  .legal li::marker { color: var(--color-content-light); }
  .legal ol.index {
    background: var(--color-gray-light);
    border-radius: 16px;
    padding: 24px 24px 24px 48px;
    margin-bottom: 32px;
  }
  .legal ol.index li::marker { color: var(--color-primary); font-weight: 700; }
  .legal ol.index li { font-weight: 600; color: var(--color-content-primary); }
  .legal .table-wrap { overflow-x: auto; margin-bottom: 18px; }
  .legal table { border-collapse: collapse; width: 100%; font-size: 14px; }
  .legal th, .legal td { border: 1px solid var(--color-border-main); padding: 10px 12px; text-align: left; }
  .legal th { background: var(--color-gray-light); color: var(--color-content-primary); font-weight: 700; }
  .legal td.empty { text-align: center; color: var(--color-content-light); }
  .legal hr { border: 0; border-top: 1px solid var(--color-border-main); margin: 48px 0; }
</style>
