---
---

<section>
  <div class="relative flex h-[400px] w-full flex-col justify-center overflow-clip max-[800px]:h-[300px]">
    <div class="relative aspect-[2880/1490] w-full translate-y-0 xl:translate-y-[129.2px]">
      <img src="/booster_bg_2.avif" alt="" aria-hidden="true" class="relative inset-0 block h-full min-h-[300px] w-full object-cover" />
    </div>
    <img src="/rectangule_violet_3.png" alt="" aria-hidden="true" class="pointer-events-none absolute bottom-0 left-0 max-[800px]:h-[160px] max-[800px]:w-[160px]" />
    <img src="/rectangule_blue_2.png" alt="" aria-hidden="true" class="pointer-events-none absolute right-0 top-0 h-[240px] w-[240px] max-[800px]:h-[160px] max-[800px]:w-[160px] xl:h-auto xl:w-auto" />
  </div>
</section>
